.popup__container {
  width: 100%;
  max-width: 430px;
  min-height: 200px;
  margin: 0;
  background-color: #FFFFFF;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
}

@media screen and (max-width: 644px){
  .popup__container{
    max-width: 282px;
  }
}