.profile__edit{
  margin: 0;
  padding: 0;
  min-width: 24px;
  min-height: 24px;
  border: 1px solid #FFF;
  background: transparent url('../../../images/edit.svg') no-repeat center;
  transition: all 0.4s ease-in-out;
}

.profile__edit:hover{
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 644px){
  .profile__edit{
    min-width: 18px;
    min-height: 18px;
    background-size: 7.5px;
    background: transparent url('../../../images/edit_small.svg');
    border: none;
  }
}