.popup__input-error{
  padding-top: 5px;
  margin: 0 36px 0;
  min-height: 36px;
  display: block;
  box-sizing: border-box;
  color: #ff0000;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  visibility: visible;
}