.profile__info{
  margin: 0 0 0 30px;
  padding: 0;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
  align-items: center;
  box-sizing: border-box;
  gap: 10px 18px;
}

@media screen and (max-width: 644px){
  .profile__info{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 10px;
    gap: 5px 10px;
  }
}